@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Silkscreen:wght@400;700&display=swap');
 
  
  body{ 
  background-image: url("C:\Users\moona\list\ts.png") ; 
  background-size: cover; 
  font-family: "Oswald", sans-serif;

} 
input{  
  border-radius: 40px; 
  padding:10px; 


} 
label{ 
  font-size: 20px;
}